<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                    <tr>
                        <td>test item1</td>
                        <td>test item2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
